<h1>This is from my desktop, it's me </h1>

{% schema %}
{
    "name": "Liquid Refs",
    "settings" : [
        {
            "id":"liquid-ref",
            "type":"text",
            "label": "A reference for Shopify Liquid"
        }
    ],
    "templates":["index","page","product"],
    "presets": [
        {
            "name": "Liquid Refs",
            "category": "Reference"
        }
    ]
}
{% endschema %}


